__pycache__/
*.py[cod]
*$py.class
.python-version

uv.lock

.coverage
*.cover
htmlcov/
.tox/
.nox/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

instance/
*.db
*.sqlite3

env/
venv/
.venv/
__init__.py
